@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,600;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
    text-decoration: none;
}
.textaso{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
}

/* HEADER SUPERIOR*/
.header__superior{
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.logo img{
    width: 150px;
}

/*BARRA MENU*/

.container__menu{
    width: 100%;
    height: 70px;
    background-color: #ff6935;
    padding: 0px 20px;
}

.menu{
    max-width: 1200px;
    margin: auto;
    height: 100%;
}

nav{
    height: 100%;
}

nav > ul{
    height: 100%;
    display: flex;
}

nav  ul  li{
    height: 100%;
    list-style: none;
    position: relative;
}

nav > ul > li:first-child > a{
    background-image: url(../img/iconos_generales/home.png);
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: center center ;
    padding: 20px 40px;
}

nav > ul > li:first-child:hover > a{
    background-image: url(../img/iconos_generales/home.png);
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: center center ;
}

nav > ul > li > a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 14px;
    text-transform: uppercase;
    font-size: 14px;
    transition: all 300ms ease;
    color: white;
}

nav > ul > li > a:hover{
    transform: scale(1.1);
    background: #ff5457;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

#selected{
    transform: scale(1.1);
    background-color: #ff5457;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

/*SUBMENU*/

nav ul li ul{
    width: 200px;
    display: flex;
    flex-direction: column;
    background: #fff;
    position: absolute;
    top: 90px;
    left: -5px;
    padding: 14px 0px;
    visibility: hidden;
    opacity: 0;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    z-index: 10;
    transition: all 300ms ease;

}

nav ul li:hover ul{
    visibility: visible;
    opacity: 1;
    top: 70px
}

nav ul li ul::before{
    content: '';
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid white;
    position: absolute;
    top: -12px;
    left: 20px;
}

nav ul li ul li a{
    display: block;
    color: #0099E9;
    padding: 6px;
    padding-left: 14px;
    margin-top: 10px;
    font-size: 14px;
    text-transform: uppercase;
    transition: all 300ms ease;

}

nav ul li ul li a:hover{
    background: #0074C7;
    color: #fff;
    transform: scale(1.1);
    padding-left: 30px;
    font-size: 14px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}
/*BODY*/
main{
    background: white;
    padding: 30px 0px;
    margin-top: 140px;
}
article{
    max-width: 1300px;
    margin: 10px auto;
    padding: 40px;
    background: white;
}

article{
    max-width: 1300px;
    margin: 10px auto;
    padding: 40px;
}
article p{
    margin: 20px;
    font-size: 18px;
    font-weight: 300;
}

/*ElEMENTOS RESPONSIVOS*/

.icon__menu{
    font-size: 26px;
    color: white;
    cursor: pointer;
    width: 26px;
    height: 100%;
    display: none;
    align-items: center;
}
#label__check{
    width: 26px;
    height: 100%;
    display: none;
}

#check__menu{
    display: none;

}  
  .slider li{
    width: 100%;
    list-style: none;
  }
  
  .slider img{
    width: 100%;
  }

/*FOOTER*/

footer{
    width: 100%;
    background: #202020;
    color: white;
    
}
.cotainer-footer-all{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 40px;
}

.container-body{
    display: flex;
    justify-content: space-evenly;}
.column1{
    max-width: 400px;
}
.column1 h1{
    font-size: 22px;
}
.column1 p{
    font-size: 14px;
    color: #C7C7C7;
    margin-top: 20px;
}

.column2{
    max-width: 400px;
}
.column2 h1{
    font-size: 22px;
}    

.row{
    margin-top: 20px;
    display: flex;
}
.row img{
    width: 36px;
    height: 36px;

}
.row label{
    margin-top: 10px;
    margin-left: 20px;
    color: #c7c7c7;
}

.column3{
    max-width: 400px;
}
.column3 h1{
    font-size: 22px;
}
.row2{
    margin-top: 20px;
    display: flex;
}
.row2 img{
    width: 36px;
    height: 36px;
}
.row2 label{
    margin-top: 10px;
    margin-left: 20px;
    max-width: 180px;
}

.container-footer{
    width: 100%;
    background: #101010;

  
}
.footer{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.copyright{
    color: #c7c7c7;
}
.copyright a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.information a{
    text-decoration: none;
    color: #c7c7c7;
}
/*img contactos*/
.contactos_img{
    width: 500px;
    height: 322px;
}

/*Formulario*/
form{
    width: 450px;
    margin: auto;
    background: rgba(0,0,0,0.4);
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 8px;
  }
  
  #Contactanos{
    color: #000000;
    text-align: center;
    margin: 0;
    font-size: 30px;
    margin-bottom: 20px;
  }
  
  input, textarea{
    width: 100%;
    margin-bottom: 20px;
    padding: 8px;
    box-sizing: border-box;
    font-size: 21px;
    border:none;
  }
  
  textarea{
    min-height: 100px;
    max-height: 200px;
    min-width: 100%;
    max-width: 100%;
  }
  
  #boton_Enviar{
    background: #023877;
    color: white;
    padding: 20px;
    font-size: 18px;
  }
  
  #boton_Enviar:hover{
    cursor: pointer;
    *display: inline-block;
  }

/* Cajas de contactos*/ 
  .caja_llamanos{
    width: 40%;
    *margin: 0 auto;
    text-align: center;
    margin-top: 100px;
    display: inline-block;

  }
  .caja_contactanos{
    width: 40%;
    *margin: 0 auto;
    text-align: center;
    margin-top: 50px;
    display: inline-block;
    
  }
/*Imagen de contacto*/
    .invisible{
        width: 50%;
        place-items:center;
        margin: auto;
    }
.caja_contacto{
    width: 90%;
    margin-top: 50px;
    margin-bottom: 50px;

}
/*Escrito de contacto*/
 .texto_informativo_1{
    font-size: 40px;
 }
 .texto_informativo_2{
    font-size: 25px;
 }

  


@media screen and (max-width: 720px){
    .header__superior{
        padding: 10px;
    }
    .logo img {
        width: 200px;
    }

    nav > ul{
        flex-direction: column;
        background-color: #023877;
        position: fixed;
        left: 0;
        top: 158px;
        width: 100%;
        height: 0px;
        transition: all 300ms ease;
        z-index: 100;
        opacity: 0;
        visibility: hidden;
    }

    nav > ul > li > a:hover{
        transform: scale(1);
    }
    nav ul li ul{
        left: 90px;
    }

    nav > ul > li:hover ul{
        top: 50px;
    }
    nav > ul > li:first-child a{
        background-position: 20px;
    }

    #selected{
        transform: scale(1);
    }

    #label__check{
        display: block;
    }
    .icon__menu{
        display: flex;
    }
    #check__menu:checked ~ nav > ul{
        height: 300px;
        visibility: visible;
        opacity: 1;
    }
    main{
        margin-top: 158px;
    }

    /*FOOTER REDUCIR*/

    .container-body{
        flex-wrap: wrap;
    }
    .column1{
        max-width: 100%;
    }

    .column2, .column3{
        margin-top: 40px;
    }
    /*Formulario*/
    form{
        width: 100%;
      }
    #Mensaje_Enviado{
      text-align: center;
      color: #fff;
      font-size: 40px;
      background: rgba(0,0,0,0.4);
    }
    /* Cajas de contactos*/
    .caja_llamanos{
        width: 100%;
        font-size: 12px;
      }
    .caja_contactanos{
        width: 100%;
        font-size: 12px;
        
      }
    /*Imagen de contacto*/
    .invisible{
        display: none;
    }
    .caja_contacto{
        width: 100%;
        margin-top: 0px;
        margin-bottom: 70px;
    }

    .texto_informativo_1{
        font-size: 30px;
     }
    .texto_informativo_2{
        font-size: 20px;
     }
     main{
        background: white;
        padding: 30px 0px;
        margin-top: 100px;
    }
    
}