
.color{
    width: 100%;
}

.contenedor_titulo_productos{
    background-color: #065F86;
    text-align: center;
    color: white;
    height: 80px;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 15px;
    margin-bottom: 30px;
}
.contenedor_img1_productos{
    margin-top: 70px;
    display: inline-block;
    width: 25%;
    height: 100px;
    margin-right: 100px;
    
}
.contenedor1_productos{
    width: 35%;
    height: auto;
    text-align: left;
    display: inline-block;
    font-size: 12px;
}
.contenedor2_productos{
    width: 30%;
    height: auto;
    text-align: left;
    display: inline-block;
    font-size: 12px;
    margin-right: 10px;
}
.contenedor_img2_productos{
    width: 30%;
    height: 90px;
    display: inline-block;
}
.contenedor3_productos{
    background-color: #065F86;
    width: 100%;
    height: 150px;
    text-align: center;
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 20px;
}

/*Texto*/
.texto_formato1{
    font-size: 25px;
    margin-left: 20px;
}
.texto_formato2{
    font-size: 25px;
    margin-left: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.texto_formato3{
    font-size: 25px;
    margin-left: 50px;
    margin-bottom: 30px;
}
.texto_formato4{
    font-size: 25px;
    margin-left: 20px;
    margin-bottom: 30px;

}

.invisible1{
    display: none;
}

#mapa2{
    text-align: center;
    margin: auto;
    width: 100%;
    height: auto;
    font-size: 5vw;
}
.google_map2{
    width: 99%;
}

@media screen and (max-width: 720px){

    .contenedor_titulo_productos{
        background-color: #065F86;
        text-align: center;
        color: white;
        height: 60px;
        width: 100%;
        justify-content: center;
        align-items: center;
        display: flex;
        font-size: 12px;
    }
    .contenedor_img1_productos{
        display: inline-block;
        width: 30%;
        height: 100px;
        margin-right: 0px;
        
    }
    .contenedor1_productos{
        width: 99%;
        height: auto;
        text-align: left;
        display: inline-block;
        font-size: 9px;
    }
    .contenedor2_productos{
        width: 99%;
        height: auto;
        text-align: left;
        font-size: 9px;
        margin-right: 0px;
    }
    .contenedor_img2_productos{
        width: 40%;
        height: auto;
        display: inline-block;
    }

    .texto_formato1{
        font-size: 15px;
        margin-left: 20px;
    }
    .texto_formato2{
        font-size: 15px;
        margin-left: 20px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .texto_formato3{
        font-size: 15px;
        margin-left: 50px;
        margin-bottom: 30px;
    }
    .texto_formato4{
        font-size: 15px;
        margin-left: 20px;
        margin-bottom: 30px;
    
    }
    .invisible1{
        display: flex;
    }
    .invisible2{
        display: none;
    }
}
